#content {
	width: 90%;
	height: auto;
	position: absolute;
	overflow: auto;
	top : 100px;
	bottom: 100px;
	left: 10%;
}
#content h1	{
	text-align: center;
	font-size: 300%;
}
#content p	{
	font-size: 150%;
}